/*--------------------------- main body and text*/
body {
    font-family: 'Lato', sans-serif;
    color: darkblue;
    background-color: #f1f1f1;    
    transition-delay: 0.4s;
}

body h1 {
    font-family: 'Dancing Script', cursive;
}

body h2 {
    font-family: 'Dancing Script', cursive;
}

.navbar {
    background-color: #53548A;
    color: white;
}

.home-div {
    padding-top: 20px;
    padding-bottom: 20px;    
}

.section-div {    
    padding-top: 50px;
    padding-bottom: 50px;    
}

.main-hat {
    padding-top: 5em;
    padding-bottom: 20px;    
}

.hat-card {    
    padding-top: 50px;
    padding-bottom: 50px;     
}

.row-hat {
    padding-top: 20px;
    padding-bottom: 20px;
}

.report-div {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;    
    border: 5px solid black;
    background-color: white;
    color: black;
}

input[type="text"] {
    width: 600px;
    height: 40px;
}

.video-div {
    padding-top: 20px; 
    padding-bottom: 20px;
}

.hat-video {
    border: 5px;
    border-color: black;
}

.navbar-nav > li{
  margin-left:5px;
  margin-right:5px;
  display: inline;
}

/* --- Trying to preserve the line breaks in the textarea inputs */
textarea {
    white-space: pre-wrap;
}

/* ---------------------------------------- Insert-flashing-arrow-icon */
.flash-hand i {
    font-size: 50px;
    color: #53548A;
    text-shadow: 5px 5px 5px darkgray;
    padding-top: 10px;
    margin-bottom: 10px;
}

.blink {
    animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0.2; }
}

/* ----- Image overlay for card */
.card-container {
    margin: auto;    
    width: 18rem;
    text-align: center;
}

/* ---------------------------------------- Footer-Social-Media */
footer {
    margin-top: 10px;    
    width: 100%;
    background-color: #53548A;
    color: white;    
}

.social-media {       
    bottom: 0;    
    border: none;    
}

.social-media i {        
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;   
    color: white; 
}

.social-media i:hover {
    color: red;
    transform: scale(1.2);  /* 120% zoom */ 
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;  
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: yellow;
  color: black;  
}


/* Style the back side */
.flip-card-back {
  width: 300px;
  height: 300px;
  background-color: #53548A;
  color: white;  
  transform: rotateY(180deg); 
}

/* --- Establish Accordion --- */
.bs-example{
    margin: 20px;
}

.accordion .fa{
    margin-right: 0.5rem;
}


/* --- Print report only and hide non-relevant elements --- */
@media print {
   #resetBtn *, #reportPrint *, #footNote * { display:none; };
   #hatProblem, #hatReport *, #titleDiv * { display:block; };
}




